@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#notification-popup-box {
  list-style-image: none;
  background: transparent !important;
  background-image: none!important;
  border-image: none !important;
  border: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
}

.toolbarbutton-text .toolbarbutton-icon, {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

#appmenu-button-container, #appmenu-toolbar-button {
  display: none !important;
}

tabbox > tabpanels {
  background: #8b8b8b !important;
}

.tabbrowser-tab * {
  color: #676767 !important;
  background: #F1F1F1 !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none !important;
  -moz-appearance: none !important;
}

.tabbrowser-tab .toolbarbutton-icon {
  display: block !important;
  width: 20px !important;
}

.tab-close-button {
  display: none !important;
}

.tab-drop-indicator { 
  margin-bottom: 0 !important;
}

.tabbrowser-tab .tab-text {
  font-family: "Roboto" !important;
  font-size: 8px !important;
  text-align: center !important;
  padding-left: 4px !important;
}

.tabbrowser-tab[pinned]{
  margin: 0px 0px 0px 8px !important;
  padding: 0px 0px 0px 8px !important;
  width: 16px !important;
  max-width: 12px !important;
  min-width: 12px !important;
}

.tabbrowser-tab[pinned] .tab-icon-image {
  width: 16px !important;
  min-width: 12px !important;
  max-width: 12px !important;
  margin-left: 8px !important;
  padding: 8px !important;
}

tabs#tabbrowser-tabs * {
  max-height: 21px !important;
  min-height: 21px !important;
  margin: 0 auto !important;
  border: none !important;
  border-radius: none !important;
}

#TabsToolbar {
  margin-left: -15px !important;
  margin-right: -5px !important;
  -moz-box-ordinal-group: 1000 !important;
}

.tabs-newtab-button { 
  background: transparent !important; 
  width: 18px !important; 
  display: block !important; 
  margin: 0 6px 0 0 !important; 
}

.tabs-newtab-button::before { 
  content: "+" !important; 
}

#tab-view-deck #tab-view { 
  margin: 18px 12px 10px 12px !important;
}

#alltabs-button { 
  margin-left: -10px !important;
}

#nav-bar {
  background: #B1B1B1 !important;
  border: none !important;
  margin: -1 0 0 0 !important;
  padding: 2px 0px !important;
  height: 13px !important;
  box-shadow: none !important;
  color: #E1E1E1 !important;
  position: fixed !important;
}

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 15;
}

scrollbar {
  background: none transparent;
  padding: 0 !important;
  position: relative;
  z-index: 2147483647;
  -moz-appearance: none !important;
}

scrollbar scrollbarbutton {
  visibility: hidden !important;
}

scrollbar[orient="vertical"] {
  min-width: 2px;
  max-width: 2px;
  padding: 0px !important;
  -moz-margin-start: -2px;
}

scrollbar[orient="horizontal"] {
  min-height: 2px;
  max-height: 2px;
  margin-top: -2px;
}

#searchbar .searchbar-textbox {
  text-align: center !important;
  margin: 5px 7px 1px 8px !important;
  padding: 4px !important;
  height: 28px !important;
  border: none !important;
}

#searchbar .searchbar-engine-image {
  margin: -20px 0px 0px 2px !important;
  width: 0 !important;
}

#searchbar .search-go-button {
  visibility: hidden !important;
}

#searchbar .searchbar-dropmarker-image {
  display: none !important;
}

#browser-bottombox {
  border: none !important;
  background:  transparent !important;
}

#browser-border-end, #browser-border-start {
  display: none !important;
}

#urlbar, #nav-bar-customization-target, #urlbar-container {
  height: 8px !important;
  width: 100% !important;
  text-align: left !important;
  border: 0px solid #2D2D2D !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0px 6px 0px 2px !important;
  box-shadow: none !important;
  color: #6F788D !important;
  font-family: "Roboto" !important;
  font-size: 8px !important;
  background-color: #FAFBFC !important;
}

#nav-bar-customization-target {
  position: absolute !important; 
  top: -1px !important; 
  right: 0 !important;
}

#status-bar, #statusbar-display {
  display: none !important;
}

#urlbar > toolbarbutton {
  display: none !important;
}

.private-browsing-indicator, * #private-browsing-indicator-titlebar{
  visibility: collapse !important;
}

@media (min-resolution: 1.1dppx) {
  #urlbar-go-button,
  #urlbar-reload-button,
  #urlbar-stop-button {
    list-style-image: url("chrome://browser/skin/reload-stop-go@2x.png");
  }

  #urlbar-go-button > .toolbarbutton-icon,
  #urlbar-reload-button > .toolbarbutton-icon,
  #urlbar-stop-button > .toolbarbutton-icon {
    width: 11px;
  }

  #urlbar-go-button {
    -moz-image-region: rect(0, 22px, 14px, 36px);
  }

  #urlbar-go-button:hover {
    -moz-image-region: rect(14px, 38px, 21px, 21px);
  }

  #urlbar-go-button:hover:active {
    -moz-image-region: rect(11px, 38px, 21px, 21px);
  }

  #urlbar-reload-button {
    -moz-image-region: rect(0, 8px, 8px, 0);
  }

  #urlbar-reload-button:not([disabled]):hover {
    -moz-image-region: rect(8px, 8px, 21px, 0);
  }

  #urlbar-reload-button:not([disabled]):hover:active {
    -moz-image-region: rect(21px, 8px, 8px, 0);
  }

  #urlbar-stop-button {
    -moz-image-region: rect(0, 21px, 8px, 8px);
  }

  #urlbar-stop-button:not([disabled]):hover {
    -moz-image-region: rect(8px, 21px, 21px, 10px);
  }

  #urlbar-stop-button:hover:active {
    -moz-image-region: rect(21px, 18px, 21px, 8px);
  }
}

@media (min-resolution: 1.1dppx) {
  #customization-titlebar-visibility-button {
    list-style-image: url("chrome://browser/skin/customizableui/customize-titleBar-toggle@2x.png");
    -moz-image-region: rect(0, 16px, 16px, 0);
  }

  #customization-titlebar-visibility-button[checked] {
    -moz-image-region: rect(0, 21px, 14px, 14px);
  }
}

@media (min-resolution: 1.25dppx) {
  notification[value="translation"][state="translating"] .messageImage {
    list-style-image: url(chrome://browser/skin/translating-16@2x.png);
  }
}
