@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#notification-popup-box {
  list-style-image: none;
  background: transparent !important;
  background-image: none!important;
  border-image: none !important;
  border: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
}

.toolbarbutton-text .toolbarbutton-icon, {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

tabbox > tabpanels {
  background: #8b8b8b !important;
}

.tabbrowser-tab * {
  color: #676767 !important;
  background: #F1F1F1 !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none !important;
  -moz-appearance: none !important;
}

.tabbrowser-tab .tab-close-button .toolbarbutton-icon {
  display: block !important;
  width: 20px !important;
}

.tabbrowser-tab .tab-text {
  font-family: "Roboto" !important;
  font-size: 12px !important;
  text-align: center !important;
  padding-left: 15px !important;
}

.tabbrowser-tab[pinned]{
  margin: 0px 0px 0px 14px !important;
  padding: 0px 0px 0px 14px !important;
  width: 34px !important;
  max-width: 34px !important;
  min-width: 34px !important;
}

tabs#tabbrowser-tabs * {
  max-height: 34px !important;
  min-height: 34px !important;
  margin: 0 auto !important;
  border: none !important;
  border-radius: none !important;
}

#TabsToolbar {
  margin-left: -15px !important;
  margin-right: -5px !important;
}

#nav-bar {
  background: #B1B1B1 !important;
  border: none !important;
  margin: -1 0 0 0 !important;
  padding: 2px 0px !important;
  height: 40px !important;
  box-shadow: none !important;
  color: #E1E1E1 !important;
}

scrollbar {
  background: none transparent;
  padding: 0 !important;
  position: relative;
  z-index: 2147483647;
  -moz-appearance: none !important;
}

scrollbar scrollbarbutton {
  visibility: hidden !important;
}

#searchbar .searchbar-textbox {
  text-align: center !important;
  margin: 5px 7px 1px 8px !important;
  padding: 4px !important;
  height: 28px !important;
  border: none !important;
}

#urlbar {
  height: 28px !important;
  text-align: left !important;
  border: 0px solid #2D2D2D !important;
  padding: 4px 4px 4px 12px !important;
  margin: 0px 6px 0px 2px !important;
  box-shadow: none !important;
  color: #6F788D !important;
  font-family: "Roboto" !important;
  font-size: 14px !important;
  background-color: #FAFBFC !important;
}

#urlbar > toolbarbutton {
  display: none !important;
}

@media (min-resolution: 1.1dppx) {
  #urlbar-go-button,
  #urlbar-reload-button,
  #urlbar-stop-button {
    list-style-image: url("chrome://browser/skin/reload-stop-go@2x.png");
  }

  #urlbar-go-button > .toolbarbutton-icon,
  #urlbar-reload-button > .toolbarbutton-icon,
  #urlbar-stop-button > .toolbarbutton-icon {
    width: 11px;
  }

  #urlbar-go-button {
    -moz-image-region: rect(0, 30px, 14px, 42px);
  }

  #urlbar-go-button:hover {
    -moz-image-region: rect(14px, 52px, 42px, 42px);
  }

  #urlbar-go-button:hover:active {
    -moz-image-region: rect(14px, 52px, 42px, 42px);
  }

  #urlbar-reload-button {
    -moz-image-region: rect(0, 12px, 12px, 0);
  }

  #urlbar-reload-button:not([disabled]):hover {
    -moz-image-region: rect(12px, 12px, 42px, 0);
  }

  #urlbar-reload-button:not([disabled]):hover:active {
    -moz-image-region: rect(42px, 12px, 12px, 0);
  }

  #urlbar-stop-button {
    -moz-image-region: rect(0, 42px, 12px, 12px);
  }

  #urlbar-stop-button:not([disabled]):hover {
    -moz-image-region: rect(12px, 42px, 42px, 16px);
  }

  #urlbar-stop-button:hover:active {
    -moz-image-region: rect(42px, 70px, 84px, 12px);
  }
}

@media (min-resolution: 1.1dppx) {
  #customization-titlebar-visibility-button {
    list-style-image: url("chrome://browser/skin/customizableui/customize-titleBar-toggle@2x.png");
    -moz-image-region: rect(0, 32px, 32px, 0);
  }

  #customization-titlebar-visibility-button[checked] {
    -moz-image-region: rect(0, 42px, 20px, 20px);
  }
}

@media (min-resolution: 1.25dppx) {
  notification[value="translation"][state="translating"] .messageImage {
    list-style-image: url(chrome://browser/skin/translating-16@2x.png);
  }
}
